/node_modules
/oh_modules
/local.properties
/build-profile.json5
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
/.scratch
*.hap
/.telegram_env
/tools/feedback-bot-state.json
